.joke {
  position: relative;
  width: 800px;
  height: 800px;
  background: url(../../assets/joke.png) no-repeat;
  background-size: 100%;
}
.joketext,
.small,
.medium {
  padding-top: 50%;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 700;
}
.joketext {
  font-size: 30px;
}
.medium {
  font-size: 25px;
}
.small {
  font-size: 20px;
}

button {
  position: absolute;
  margin-left: 60%;
  bottom: 0;
}
.pangpang {
  width: 600px;
  height: 840px;
  background: url(../../assets/pangpang.jpg) no-repeat;
  background-size: 100%;
}
.wholepage {
  display: flex;
  flex-wrap: nowrap;
  height: 80%;
}
h2 {
  position: absolute;
  padding-left: 11%;
  padding-top: 3%;
  font-family: "Comic Sans MS", "Comic Sans", Geneva;
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px grey;
  -webkit-text-stroke: 1px black;
  color: rgb(243, 224, 237);
  white-space: nowrap;
}
