<div class="wholepage">
   
    <div class="sidebar">
        <div class="list-items">
            <div class="list-item" [routerLink]="['/home']"><span class="material-icons">pets</span>Let's meet Pangpang</div>
            <div class="list-item" [routerLink]="['/quotes']"><span class="material-icons">book</span>Pangpang's quotes</div>
            <div class="list-item" [routerLink]="['/table']"><span class="material-icons">favorite_border</span>Pangpang's favorite</div>
            <div class="list-item" [routerLink]="['/author']"><span class="material-icons">face</span>About the author</div>
        </div>
    </div> 
     <div class="outlets">
        <router-outlet></router-outlet>
    </div>
</div>
