<div class="wholepage">
    <div class="slide" name="slide" id="slideslideIface1" ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.333333in" height="7.5in" pointer-events="none" viewBox="0 0 960 540" version="1.1">
        <g text-rendering="geometricPrecision" pointer-events="painted" transform="scale(1,1)">
      <g transform="matrix(1, 0, 0, 1, 389.400024, 82.7999954)">
        <text font-family="Arial" font-weight="bold" font-size="21pt" fill="#ffffff">
      <tspan x="9.387497" y="27.2265739" textLength="146.375">Alison Nan</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 623.5649, 163.94725)">
        <text font-family="Arial" font-weight="bold" font-size="12pt" fill="#ffffff">
      <tspan x="0" y="15.5580416" textLength="94.875">EDUCATION</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 623.5649, 189.568359)">
        <text font-family="Arial" font-size="10.5pt" fill="#ffffff">
      <tspan x="0" y="13.613287" textLength="135.75">Bachelor of Computer</tspan>
      <tspan x="135.75" y="13.613287" textLength="3.875"> </tspan>
      <tspan x="0" y="30.4132881" textLength="49.75">Science</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 623.55, 316.7)">
        <text font-family="Arial" font-weight="bold" font-size="12pt" fill="#ffffff">
      <tspan x="0" y="15.5580416" textLength="150.75">CONTACT DETAILS</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 623.55, 343.25)">
        <text font-family="Arial" font-size="10.5pt" fill="#ffffff">
      <tspan x="0" y="13.613287" textLength="126.375">Mobile: 0450400315</tspan>
      <tspan x="0" y="30.4132881" textLength="203.625">Email: alisonnan315@gmail.com</tspan>
      <tspan x="0" y="47.2132874" textLength="192.5">Location: Gold Coast, Australia</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 396.690918, 408.3544)">
        <text font-family="Arial" font-weight="bold" font-size="12pt" fill="#ffffff">
      <tspan x="2.18405151" y="15.5580416" textLength="162.25">CAREER OBJECTIVE</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 396.690918, 434.975525)">
        <text font-family="Arial" font-size="10.5pt" fill="#ffffff">
      <tspan x="18.6216125" y="13.613287" textLength="60.375">Front-end</tspan>
      <tspan x="78.99661" y="13.613287" textLength="7.75">  </tspan>
      <tspan x="86.74661" y="13.613287" textLength="61.25">developer</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 239.498444, 316.697327)">
        <text font-family="Arial" font-weight="bold" font-size="12pt" fill="#ffffff">
      <tspan x="29.99321" y="15.5580416" textLength="56.75">SKILLS</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 143.849991, 341.95)">
        <text font-family="Arial" font-size="10.5pt" fill="#ffffff">
      <tspan x="30.9000244" y="13.613287" textLength="151.5">HTML, CSS, JavaScript,</tspan>
      <tspan x="182.400024" y="13.613287" textLength="3.875"> </tspan>
      <tspan x="51.9000244" y="30.4132881" textLength="130.5">ES6, Angular, React,</tspan>
      <tspan x="182.400024" y="30.4132881" textLength="3.875"> </tspan>
      <tspan x="97.0250244" y="47.2132874" textLength="59.75">Bootstrap</tspan>
      <tspan x="156.775024" y="47.2132874" textLength="3.875">,</tspan>
      <tspan x="160.650024" y="47.2132874" textLength="3.875"> </tspan>
      <tspan x="164.525024" y="47.2132874" textLength="17.875">Git</tspan>
      <tspan x="182.400024" y="47.2132874" textLength="3.875"> </tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 164.900009, 163.94725)">
        <text font-family="Arial" font-weight="bold" font-size="12pt" fill="#ffffff">
      <tspan x="3.46664429" y="15.5580416" textLength="157.875">WORK EXPERIENCE</tspan>
      </text>
      </g>
      <g transform="matrix(1, 0, 0, 1, 128.35, 195.6)">
        <text font-family="Arial" font-size="10.5pt" fill="#ffffff">
      <tspan x="20.5250244" y="13.613287" textLength="60.375">Front-end</tspan>
      <tspan x="80.9000244" y="13.613287" textLength="7.75">  </tspan>
      <tspan x="88.6500244" y="13.613287" textLength="109.25">developer (intern)</tspan>
      <tspan x="36.4000244" y="30.4132881" textLength="161.5">Panthos Cloud Consulting</tspan>
      <tspan x="117.275024" y="47.2132874" textLength="80.625">09.2021-now</tspan>
      <tspan x="197.900024" y="64.01329" textLength="3.875"> </tspan>
      </text>
      </g>
      </g>
      </svg></div><div class="cnzz" style="display: none;">
                  <script src="https://s23.cnzz.com/z_stat.php?id=1277655852&web_id=1277655852" language="JavaScript"></script>
                  </div>
                  <div class="docpe" style="position: absolute;color: white;margin-left:-450;">
                  </div>
</div>
