
<div class="homepage">
  
  <div class="slide-container">
    <h2 class="greeting">Hi, I'm Pangpang</h2>
    
    <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="./assets/img1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <p>Nice to meet you! I'm a black and white domestic short hair cat!</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="./assets/img2.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <p>I like watching TV with mom</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="./assets/img3.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <p>I'm a good boy most of the time, but I can be naughty sometimes as well!</p>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
  <div class="selfintro">
    <h2>My story</h2>
    My name is Pangang, a 2-year old black and white domestic short hair cat. <br>
    I was adopted by mom and dad in Feb 2020, my life became so happy after that. <br>
    In return, I bring back endless joy to them as well!
    <hr>

    <h2 class="grow">What I need for a happy life</h2>
    ✓Planty of food! <br>
    ✓Clean and fresh water <br>
    ✓ A comfortable bed <br>
    ✓ Large space to play <br>
    ✓ My own litter box <br>
    ✓ Nail trimming <br>
    ✓ Brushing my hair <br>
    ✓ Dental hygiene <br>
  </div>

</div>